*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: rgb(14, 19, 32);
}

                  /*----------- topbar starts here --------------- */

a{
    text-decoration: none;
    text-decoration-color: none;
    color: #58b908;
    cursor: pointer;
}
nav.topbar{
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    justify-content: space-around;
    background-color:rgb(14, 19, 32) ;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
.topbar a{
    display: flex;
}
.topbar h1{
    font-size: 15px;
    font-weight: 100;
    cursor: pointer;
}

.top1{
    display: flex;
    margin-left: 2vw;
    margin-right: 15vw;
}
.top1 h1{
    font-size: 25px;
    font-weight: 500;
}
.top7{
    margin-right: 19vw;
}
.top8 button{
    border: #58b908 1px solid;
    outline: 0;
    border-radius: 5px;
    height: 30px;
    width: 120px;
    color: #fff;
    background-color: transparent;
}

                    /*-------------- topbar ends here ---------------*/


.item1 { grid-area: pic1; }
.item2 { grid-area: pic2; }
.item3 { grid-area: pic3; }
.item4 { grid-area: pic4; }

.grid-container {
  display: grid;
  grid-template-areas:
    'pic1 pic1 pic3 pic3 '
    'pic2 pic2 pic4 pic4 ';

  gap: 10px;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.grid-container img{
   width: 20vw;
   height: 25vh;
   border-radius: 5px;
}
.pic1, .pic2, .pic3, .pic4 {
    grid-column: span 1; 
}

.pic-main {
    grid-column: span 2;
}


.show-off{
    display: flex;
    padding: 20px;
}
.left-pane{
    width: 50%;
    display: block;
}
.enter-prompt{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    height: 6vh;
    border: 1px solid #fff;
}
.generate-btn{
    width: 20%;
    background-color: #66d72d;
    border-radius: 10px;
    height: 80%;
    padding: 0 2px 0px 0px;
    padding-top: 8px;
}
.enter-prompt input {
   border: none;
   width: 70vw;
   background: transparent;
}
.right-pane{
    display:block;
    width: 30vw;
    height: 70vh;
    margin-left: 20vw;
    color: #ffff;
}
.introduction{
    display: block;
    justify-content: center;
    text-align: center;
    padding: 10px;
    color: #fff;
}
.introduction .visit-ai{
    margin-left: 43vw;
    width: 10vw;
    height: 4vh;
    border:0.5px solid rgb(252, 249, 249);
    text-align: center;
    color: #e7e4e4ec;
    border-radius: 5px;
}
.introduction .visit-ai:hover{
    color: #58b908;
    border:0.5px solid #58b908;
    cursor: pointer;
}
.contain{
    height: 12vh;
    width: 25vw;
    border:1px solid #ede7e7;
    border-radius: 5px;
    justify-content: center;
    padding: 10px;
    margin: 10px;
} 
.general{
    display: flex;
}
.pic-main{
    width: 20vw;
   height: 25vh;
   border-radius: 5px;
   margin: 10px;
}