*{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
body{
    background-image: url(./Photos-001/backlogin.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    
}
.name{
    color: #fff;
    display: flex;
    margin: 2% 2%;
}
a{
    text-decoration: none;
    text-decoration-color: none;
    cursor: pointer;
}

.form-container{
    color: #fff;
    display: block;
    float: right;
    width: 23vw;
    height: 85vh;
    backdrop-filter:blur(35);
    border: 0.2px #fff solid;
    outline: none;
    border-radius: 1.5vh;
    margin-top: -16vh;
    padding-left: 5vw;
    margin-right: 2vw;
    padding-right: 5vw;
    padding-bottom: 5vh;
    margin-right: 5vw;
}

.Welcome{
    text-align: center;
    font-size: 15px;
    color: #fff;
    margin-top: 3vh;
    margin: 2vh 0;
    font-size: larger;
}

.hh3{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

h4{
    font-size: small;
    font-weight: lighter;
    padding-top: 15px;
    
}
input{
    width: 25vw;
    height: 30px;
    background-color: #ffffff10;
    border: 0;
    border-radius: 5px;
    outline: none;
    margin-top: 5px;
    color: #fff;
}
.button{
    margin-top: 20px;
    width: 25vw;
    height: 30px;
    background-color: #58b908;
    border: 0;
    outline: none;
    color: black;
    border-radius: 5px;
    
}
a{
    color: #fff;
}
.here{
    display: flex;
  justify-content: space-around;
  
}
.in{
    width: 800px;
    height: 20px;
    padding: 0 0px;
}
hr{
    width: 220px;
    height: 0.2px;
    border: 0;
    outline: 0;
    background-color: #fff;
    margin-top: 8px;
   
    padding-left: 30px;
    padding-right: 34px;
}
.emp{
    font-size: small;
    font-weight: lighter;
    text-align: center;
    margin: 10px 0;
}
.with{
    width:25vw;
    height: 6vh;
    border: #fff 1px solid;
    text-align: center;
    border-radius: 1.5vh;
    outline: none;
    margin: 20px 0;
    padding-top: 10px ;
    display: flex;

}

.with:hover{
    background-color: #377a00;
    border:0.5px #fff solid;
    color: black;
}












/*    responsiveness         */
@media screen  and (min-width: 1px)
               and (max-width: 1600px) {
    body{
        background-color: #313030e0;
    }
    
}